body{
    background-color:white;
    text-align: center;
}
.heading{
    color: burlywood;
}
.h-container{
    margin:330px;
    text-align: center;
    width: 50%;
    height: 10%;
    background-color:darkcyan;
 
    margin-top: 100px;
    margin-bottom: 60px;
}
.turnon{
    margin-right: 100px;
}
.light-inside{
    background-color: darkseagreen;
    width: 50%;
    margin-top:50px;
    margin:330px;
}